* text=auto eol=lf
.gitattributes text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
gradlew text eol=lf
*.bat text eol=crlf
*.cmd text eol=crlf
.corretto-version text eol=lf
.java-version text eol=lf
.nvmrc text eol=lf
