      C Wirtschaftswissenschaft/Wirtschaftswissenschaft (b.)


      4.2 Wirtschaftswissenschaft, Wirtschaftswissenschaft (b.)
          (Leistungskurs)

      1. Kurshalbjahr: Betriebswirtschaftslehre
      Das Themenfeld Betriebswirtschaftslehre bietet Schülerinnen und Schülern die Möglichkeit,
      sich betriebswirtschaftliches Grundwissen anzueignen sowie betriebswirtschaftliche Methoden
      kennenzulernen und anzuwenden. Die Kenntnis betriebswirtschaftlicher Grundtatbestände ist
      eine notwendige Voraussetzung, um für ein Unternehmen effizient tätig zu sein oder sich im
      Studium auf eine derartige Tätigkeit vorzubereiten.
      Der Rahmenlehrplan konzentriert sich mit Marketing und Finanzierung auf Inhaltsbereiche, die
      für den gesamten güterwirtschaftlichen Leistungsprozess Relevanz haben und für ein gene-
      relles Verständnis betriebswirtschaftlicher Zusammenhänge konstitutiv sind. Sie fördern und
      fordern die Nutzung der in der Einführungsphase erworbenen Kompetenzen und bieten Mög-
      lichkeiten, exemplarisch Interdependenzen zur Volkswirtschaftslehre herzustellen.
      In den wahlobligatorischen Inhaltsbereichen Beschaffung, Produktion und Personal entwickeln
      die Schülerinnen und Schüler ein Grundverständnis zur jeweiligen Teildisziplin des güterwirt-
      schaftlichen Prozesses. Einzelne Aspekte betriebswirtschaftlicher Probleme werden schwer-
      punktsetzend exemplarisch vertieft.
       Inhalte
       Marketing
       – Grundlagen des Marketings
       – Marketinginstrumente/Marketing-Mix
       – rechtliche Grenzen
       Finanzierung
       – Finanzierung als betriebswirtschaftliche Funktion
       – Investitionsrechnung
       – Finanzierungsarten
       – Finanzierungskennziffern
       – Folgen falscher Investitions- bzw. Finanzierungsentscheidungen
       Wahlobligatorisch
       Beschaffung
       – Grundsätze der Beschaffung
       – Lagerhaltung und Lagerüberwachung
       – Optimierungsansätze der Beschaffungs- und Lagerlogistik
       Produktion
       – Ziele der Produktion
       – Produktionsverfahren
       Personal
       – Personalplanung
       – Führungsprinzipien
       – Mitarbeiterbeurteilung
       – Mitbestimmung




S e i t e | 20
                                                C Wirtschaftswissenschaft/Wirtschaftswissenschaft (b.)


Kompetenzbezug
Marketing
Die Schülerinnen und Schüler
– leiten aus der marktwirtschaftlichen Entwicklung die Notwendigkeit des Marketings ab und
   stellen die Phasen des Marketing-Management-Prozesses dar,
– erläutern ausgewählte Marketinginstrumente und leiten deren Einsatz und Zusammenwirken
   aus den Marketingzielen ab,
– analysieren fallbezogen Marktverhältnisse, Unternehmenssituationen und Rahmenbedingun-
   gen, arbeiten adäquate Verfahren der Informationsbeschaffung heraus und wenden diese an,
– diskutieren in diesem Zusammenhang die Problematik des Datenschutzes und der Datensi-
   cherheit.
Finanzierung
Die Schülerinnen und Schüler
– stellen Entscheidungstatbestände zur Gestaltung und Steuerung des betriebswirtschaftlichen
   Geldstromes dar und erläutern Determinanten des Finanzierungsbedarfs,
– beurteilen Interessenkonflikte zwischen betriebswirtschaftlicher sowie volkswirtschaftlicher
   Zielsetzung von Investitionen,
– beurteilen Möglichkeiten der Investitionslenkung unter Anwendung der Investitionsrechnung,
– analysieren die Finanzierungsarten rechtsformbezogen, berechnen und beurteilen Finanzie-
   rungskennziffern,
– beschreiben Verfahrensweisen bei einer Zahlungsunfähigkeit und erläutern deren Auswirkun-
   gen.
Beschaffung
Die Schülerinnen und Schüler
– beschreiben die Aufgaben und den Gesamtprozess der Materiallogistik,
– analysieren die Struktur der Beschaffungs- bzw. Lagerkosten,
– berechnen markante Lagerkennziffern und untersuchen fallorientiert deren Einfluss auf ver-
   schiedene Ziele der Unternehmung,
– stellen einfache Verfahren der Optimierung mathematisch sowie grafisch dar und diskutieren
   deren Vor- und Nachteile.
Produktion
Die Schülerinnen und Schüler
– definieren und systematisieren Ziele der Produktion, arbeiten Zielbeziehungen heraus und
   wenden das betriebliche Kennzahlensystem als Maßstab der Zielerreichung an,
– unterscheiden die Produktionsverfahren und problematisieren deren Umsetzung,
– erläutern die betriebswirtschaftlichen Produktionsfaktoren und leiten deren optimale Kombi-
   nation als Ergebnis eines betrieblichen Entscheidungsprozesses ab.

Personal
Die Schülerinnen und Schüler
– beschreiben die Aufgaben und Verfahren der Personalplanung und analysieren diese sowohl
   aus Sicht der Arbeitgeber als auch aus der der Arbeitnehmerinnen und der Arbeitnehmer,
– diskutieren Führungsprinzipien und beurteilen Strategien der Personalentwicklung,
– überprüfen die Umsetzung des demokratischen Prinzips in den Betrieben am Beispiel der
   Mitbestimmung,
– erläutern grundlegende Festlegungen des BetrVG sowie des MitbestG.




                                                                                             S e i t e | 21
      C Wirtschaftswissenschaft/Wirtschaftswissenschaft (b.)


      2. Kurshalbjahr: Mikroökonomie
      Mit dem Themenfeld Mikroökonomie erfolgt der Übergang von der einzel- zur gesamtwirt-
      schaftlichen Perspektive. Es werden Motive und Erscheinungsformen ökonomischer Entschei-
      dungen einzelner Wirtschaftssubjekte und deren Folgen auf den Märkten analysiert. Die Cha-
      rakterisierung des wirtschaftlichen Verhaltens der Anbieter und Nachfrager bildet die fachliche
      Grundlage für die Untersuchung der Koordinationsprozesse einzelwirtschaftlicher Entschei-
      dungen auf den Märkten. Im Ergebnis dieser Untersuchungen werden Möglichkeiten zur Ziel-
      entwicklung, Modellgestaltung und Prognose abgeleitet.
      Auf der Basis gesicherter Erkenntnisse zu den grundlegenden Begriffen, Gesetzmäßigkeiten
      und Methoden der Mikroökonomie sind wahlweise weiterführende Auseinandersetzungen zur
      Problematik der Marktsteuerung oder zu Konzentration und Wettbewerb vorgesehen. Die kon-
      krete Themenauswahl sollte sich hier nach der Lerngruppensituation, den schulischen Mög-
      lichkeiten sowie nach den aktuellen wirtschaftlichen Gegebenheiten richten.
       Inhalte
       Theorie des Angebots
       – Ertragsgesetz
       – LEONTIEF-Produktionsfunktion
       Theorie der Nachfrage
       – Nutzentheorie
       – individuelle Nachfrage
       – Gesamtnachfrage
       Markt und Preis
       – Marktarten, Marktformen
       – Preisbildung
       – Preisfunktionen
       Wahlobligatorisch
       Marktsteuerung
       – Motive der Marktsteuerung
       – marktkonforme und marktkonträre Staatseingriffe
       Konzentration und Wettbewerb
       – Unternehmenszusammenschlüsse
       – Missbrauchsaufsicht




S e i t e | 22
                                              C Wirtschaftswissenschaft/Wirtschaftswissenschaft (b.)


Kompetenzbezug
Theorie des Angebots
Die Schülerinnen und Schüler
– definieren den Begriff der Produktionsfunktion, formulieren das Ertragsgesetz und
   beschreiben dieses unter Berücksichtigung der zugrunde liegenden Prämissen,
– berechnen Gesamtertrag, Durchschnittsertrag und Grenzertrag und führen grafische
   Auswertungen durch,
– berechnen resultierende Gesamt-, Durchschnitts- und Grenzkosten, stellen deren Ver-
   läufe grafisch dar und analysieren diese,
– begründen die abzuleitende Angebotskurve,
– erläutern die Produktionsfunktion vom Typ B.
Theorie der Nachfrage
Die Schülerinnen und Schüler
– analysieren die Problematik der Nutzenmessung und kennzeichnen den Grenznutzen als
   Bestimmungsfaktor der Nutzenerwägungen eines Haushaltes,
– leiten die individuelle Nachfragekurve ab und untersuchen mögliche Verschiebungen,
– definieren und ermitteln die Gesamtnachfrage mengen- und wertmäßig,
– bewerten die Erkenntnisse unter Berücksichtigung weiterer Bestimmungsgründe für die
   Gesamtnachfrage,
– berechnen Elastizitäten und beurteilen die Ergebnisse.
Markt und Preis
Die Schülerinnen und Schüler
– beschreiben den Markt nach verschiedenen Kriterien, charakterisieren die Marktformen
   und leiten im Ergebnis das Anbieterverhalten ab,
– übertragen ihre Erkenntnisse zum vollkommenen und unvollkommenen Polypol in ein
   Preis-Mengen-Diagramm,
– vergleichen die Marktversorgung zwischen Polypol und Monopol und bewerten ihre
   Ergebnisse,
– diskutieren Gewinnsteigerungen infolge von Preisdifferenzierungen,
– erläutern die Preisfunktionen als Voraussetzung einer funktionsfähigen Marktwirtschaft.
Marktsteuerung
Die Schülerinnen und Schüler
– stellen Motive der Marktsteuerung dar und unterscheiden Mengen- und Preissteuerung
   im Kontext wirtschaftspolitischer Entscheidungen,
– analysieren Staatseingriffe, veranschaulichen diese im Preis-Mengen-Diagramm und
   bewerten sie.
Konzentration und Wettbewerb
Die Schülerinnen und Schüler
– unterscheiden fallbezogen Konzentrationsprozesse hinsichtlich rechtlich-wirtschaftlicher
   Formen und arbeiten Chancen und Risiken heraus,
– diskutieren Handlungsspielräume der Kartellbehörden vor dem Hintergrund negativer
   Effekte zu großer Marktmacht.




                                                                                           S e i t e | 23
      C Wirtschaftswissenschaft/Wirtschaftswissenschaft (b.)


      3. Kurshalbjahr: Makroökonomie (Wirtschaftspolitik)
      Nachdem die Schülerinnen und Schüler das Verhalten der Haushalte beurteilen und die Prob-
      leme des Unternehmensangebots darlegen können, setzen sie sich im Themenfeld Makroöko-
      nomie mit den Funktionen und Zielen des Staates auseinander und gewinnen einen Überblick
      über die Grundlagen der Wirtschafts- und Konjunkturpolitik.
      Sie sind damit in der Lage, Systemzusammenhänge zu erklären und Erfordernisse abzuleiten,
      die es ermöglichen, die politischen, wirtschaftlichen, ökologischen und sozialen Bedürfnisse
      der Gesellschaft heute und in der Zukunft so weit wie möglich zu befriedigen.
      Darüber hinaus müssen im Unterricht aktuelle politische Ereignisse, Probleme und Kontrover-
      sen der Wirtschaft unter Sach- und Wertaspekten analysiert und anschließend reflektiert
      beurteilt werden.
      In der Auseinandersetzung mit den Wirkungsweisen und der Bedeutung wirtschaftspolitischer
      Handlungsfelder diskutieren die Schülerinnen und Schüler in Anbetracht der ökonomischen
      Herausforderungen Niveau und Grenzen institutioneller bzw. staatlicher Steuerung durch die
      Geld- und Fiskalpolitik (Staatshaushalt).


       Inhalte
       Grundlagen der Wirtschaftspolitik
       – Begriff und Arten der Wirtschaftspolitik
       – Träger und Ziele der Wirtschaftspolitik
       Wachstum und Konjunktur
       – Bestimmungsfaktoren des Wachstums
       – Berechnung des Wachstums
       – konjunkturelle Schwankungen
       Wahlobligatorisch
       Staatshaushalt
       – Staatshaushalt
       – Staatsverschuldung
       Geldpolitik
       – Europäisches System der Zentralbanken (ESZB)
       – geldpolitisches Instrumentarium




S e i t e | 24
